@{
    ViewData["Title"] = "Home Page";
}




<div class="container-fluid pt-4 px-4">
    <div class="row vh-100  rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
              
            </div>
        </div>
    </div>
</div>